$primary: #fff;
$second: #ffdb4d;
$hoverYellow: #ffd633;
$backgroundColor: #f6f5f3;
$borderColor: #e5e5e5;
$fontColor: #222;
$grey: #b2b2b2;
$greyHover: #ccc;
$spanGrey: #777;
$buttonHoverBlack: #123;